body {
  font-family: 'Open Sans', sans-serif;
}

div#layout1 {
  text-align: center;
}

div#container1 {
  width: 1100px;
  height: 750px;
  margin: auto;
  background-color: #fff;
}

svg {
  width: 100%;
  height: 100%;
}


.loader {
    
     border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #007bff;
     /*border-bottom: 16px solid red;
     border-left: 16px solid yellow;*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


span#loading{
  position: absolute;
  top:30%;
  left: 50%;
  display: inline-block;
}

text {
  font-size: 12px;
  fill: black;
} 

.axis .domain {
  display: none;
}

.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}

.d3-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


div#layout3 {
  text-align: center;
}

div#container3 {
  width: 1100px;
  height: 750px;
  margin: auto;
  background-color: #fff;
}
