
body {
  font-family: 'Open Sans', sans-serif;
}

div#layout2 {
  text-align: center;
}

div#container2 {
  width: 1300px;
  height: 600px;
  margin: auto;
  background-color: #fff;
}

svg {
  width: 100%;
  height: 100%;
}

/*.bar {
  fill: #80cbc4;
}*/

text {
  font-size: 12px;
  fill: black;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit2 {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence2 {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value2 {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

.custom-time-dropdown{
    position: absolute;
    font-size: 10px;
    right: 100px;
    background: #83c1bf;
    color: black;
    top: 23px;
    border: none;
}
