{% extends "base.html" %}

{% block content %}
    <html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <title>Test Metric</title>
      <link rel="stylesheet" type="text/css" href="/static/analyze.css">
      <link rel="stylesheet" type="text/css" href="/static/checkin.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
      <link rel="stylesheet" type="text/css" href="/static/text.css">
      <script src="/static/Chart.bundle.js"></script>
      <script src="/static/utils.js"></script>
      <style>
        canvas {
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      </style>

      <!-- <link  href="/static/age-groups.csv"> -->
      <script src="https://d3js.org/d3.v4.min.js"></script>

    </head>
    <body>

       <!-- <div id='layout1' style="border: 0px solid black">
          <div id='container1'>
            <span id="loading" style="display: inline-block;"> <div class="loader" style="display: inline-block;"></div></span>
            <canvas id="myChart" style="width:900px; height: 500px; display: inline-block;"> </canvas>
          </div>
      </div> -->

      <div id="layout2" style="position: relative; border: 0px solid black">
        <div id="container2">
          <h3>Customer Influx variation trends</h3>
          <span class="title" x="600" y="40" text-anchor="middle" style="font-size: 70%;margin-bottom: 10px; font-style: italic;font-family: "Times New Roman", Times, serif;">Experiencing trouble managing logistics? <br />Look at your consumer volume distribution and maybe plan better? You're welcome :)</span>
          <div class="controls" style="position: relative; margin-top: 20px; margin-left: 100px; margin-bottom: 32px; "> 
            <button type="button" class="btn btn-primary" id="toggleDisplay" style="font-size: 60%; position: absolute; left: 10%">Toggle View</button>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" onclick="toggleLine(0)" checked>
              <label class="form-check-label" for="inlineCheckbox1">Mon</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" onclick="toggleLine(1)" checked>
              <label class="form-check-label" for="inlineCheckbox2">Tue</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="toggleLine(2)" checked>
              <label class="form-check-label" for="inlineCheckbox3">Wed</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="toggleLine(3)" checked>
              <label class="form-check-label" for="inlineCheckbox3">Thurs</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="toggleLine(4)" checked>
              <label class="form-check-label" for="inlineCheckbox3">Fri</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="toggleLine(5)" checked>
              <label class="form-check-label" for="inlineCheckbox3">Sat</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="toggleLine(6)" checked>
              <label class="form-check-label" for="inlineCheckbox3">Sun</label>
            </div>
          </div>
          <div id="chart" style="max-height: 500px"></div>
          <!-- <div class="fancy" style="position: absolute; left: 5%; top: 4%;">Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy.  Hi! I want to be fancy. Hi! I want to be fancy. </div>
          </div> -->
          <span id="loading1"> <div class="loader"></div> 
        </div>
      </div>

    <!--   <div id="layout3" style="position: relative; border: 0px solid black">
        <div id="dvCheckBoxListControl" class="dvCheckBoxListControl" name="dvCheckBoxListControl"></div>
        <div style="height: 20px"></div>
        <button type="button" id="mybtn" style="margin-left: 100px;">Get Rating!</button>
        <div style="height: 20px"></div>
        <span id="result" style="margin-left: 100px;"></span>
        <div style="height: 20px" ></div>
      </div> -->

      <div id='layout1' style="position: relative; border: 0px solid black; margin-top: 100px">
          <div id='container1'>
            <div class="row">
                <div class="col-md-12" id="title"></div>
                <!-- <div class="col-md-5"></div>
                <select class="col-md-2" id="cuisinelist" onchange="updateCharts()" align="center"></select> -->

            </div>
            <br>
            <!-- <select class="col-md-2" id="cuisinelist" onchange="updateCharts_popularity()" align="center"></select> -->
            <canvas id="sentiment-canvas" style="width:900px; height: 500px; display: inline-block; margin-top: 30px"> </canvas>
             <!--  <div class="fancy" style="position: absolute; right: 5%; bottom: 13%;">Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy.  Hi! I want to be fancy. Hi! I want to be fancy. </div>
            </div> -->
            <!-- <center>
              <div id="graph" style="width: 75%;">
                <canvas id="canvas" ></canvas>
              </div>
            </center> -->
          </div>
      </div>

      <div id='layout3' style="position: relative; border: 0px solid black; margin-top: 100px">
        <div id='container3'>
          <h3>Popularity of your business over time</h3>
          <span class="title" x="600" y="40" text-anchor="middle" style="font-size: 70%;margin-bottom: 10px; font-style: italic;font-family: "Times New Roman", Times, serif;">Want to know your rating variation trend over time without manually going through reviews. We got your back. Look no further</span>

          <div class="row" style="margin-top: 40px">
            <div class="col-md-5"></div>
            <select class="col-md-2" id="dropdownList" onchange="updateCharts_popularity()" align="center"></select>
          </div>
          <br />
          
            <div id='layout123' style="width: 90%;">
                <canvas id='popularity-canvas', style="width: 90%; height: 50%">
                  <svg />
                  <div id='tooltip' style='position:absolute;background-color:lightgray;padding:5px'></div>
                </canvas>
            </div>
             <!--  <div class="fancy" style="position: absolute; right: 4%; top: 4%;">Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy. Hi! I want to be fancy.  Hi! I want to be fancy. Hi! I want to be fancy. </div>
            </div> -->
          <div id="info"></div>
        </div>
      </div>

    </body>
    <!-- <script src="/static/tagRatings.js" type="module"></script> -->
    <script src="/static/popularityCurve.js"></script>
    <script src="/static/analyze.js" type="module"></script>
    <script src="/static/checkin.js" type="module"></script>
    <script src="/static/sentimentNew.js" charset="utf-8"></script>
    <script src="https://rawgit.com/chartjs/chartjs-plugin-annotation/master/chartjs-plugin-annotation.js"></script>
    <!-- <script src="/static/heatmap.js" charset="utf-8"></script> -->
    
    <!-- <script src="/static/stackedBar.js"></script> -->
    <!-- <script src="/static/model.js"></script> -->
  </html>

{% endblock %}
