{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %} -->
    <html lang="en">
		<head>
		  <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		  <title>YelpMeOut Index</title>
		  <link rel="stylesheet" type="text/css" href="/static/trafficChart.css">
		  <link rel="stylesheet" type="text/css" href="/static/ratings.css">
		</head>
		<body>
		  <div id='layout'>
		  	<div id='container'>
		  		<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle custom-time-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
				    Time: 12:00 - 13:00
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: relative;">
				    <a class="dropdown-item" href="#" onclick="changeData1('00:00 - 01:00')">00:00 - 01:00</a>
				    <a class="dropdown-item" href="#" onclick="changeData1('01:00 - 02:00')">01:00 - 02:00</a>
				    <a class="dropdown-item" href="#" onclick="changeData1('02:00 - 03:00')">02:00 - 03:00</a>
				    <a class="dropdown-item" href="#" onclick="changeData1('03:00 - 04:00')">03:00 - 04:00</a>
				    <a class="dropdown-item" href="#" onclick="changeData1('04:00 - 05:00')">04:00 - 05:00</a>
				    <a class="dropdown-item" href="#" onclick="changeData1('05:00 - 06:00')">05:00 - 06:00</a>
				  </div>
				</div>
				<span id="loading"> <div class="loader"></div> </a>
			</div>
		  	</div>
		  </div>

		  <div id='layout1'>
		      <div id='container1'>
		        <svg />
		      </div>
		  </div>

		</body>
		<script src="/static/trafficChart.js" type="module"></script>
		<script src="/static/ratings.js" type="module"></script>
		<script src="/static/explore.js" type="module"></script>
		<!-- <script src="/static/metricTest.js"></script> -->
	</html>

{% endblock %}
