{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %} -->
    <html lang="en">
		<head>
		  <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		  <title>YelpMeOut Index</title>
		  <link rel="stylesheet" type="text/css" href="/static/test.css">
		</head>
		<body>
		  <div id='layout'>
		  	<div id='container'>
		  		<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle custom-time-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Time: 12:00 - 13:00
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Bow</a>
				    <a class="dropdown-item" href="#">
				    Bow bow</a>
				    <a class="dropdown-item" href="#">Bow bow bow</a>
				  </div>
				</div>
			</div>
		  	</div>
		  </div>

		</body>
		<script src="/static/test.js"></script>
	</html>

{% endblock %}
