{% extends "base.html" %}

{% block content %}
    <html lang="en">
		<head>
		  <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		  <title>Test Metric</title>
		  <link rel="stylesheet" type="text/css" href="/static/metricTest.css">
		</head>
		<body>
			<div id='layout'>
			    <div id='container'>
			      <svg />
			    </div>
			</div>
			<div id="info"></div>
		</body>
		<script src="/static/metricTest.js"></script>
	</html>

{% endblock %}
