{% extends "base.html" %}

{% block content %}
    <html lang="en">
		<head>
		  <meta charset="UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		  <title>Under Const</title>
		  <link rel="stylesheet" type="text/css" href="/static/popularityCurve.css">
		</head>
		<body>
			<select id="dropdownList" onchange="updateCharts()"></select>
			<div id='layout'>
			    <div id='container'>
			      <svg />
			      <div id='tooltip' style='position:absolute;background-color:lightgray;padding:5px'></div>
			    </div>
			</div>
			<div id="info"></div>
		</body>
		<script src="/static/popularityCurve.js"></script>
		


	</html>

{% endblock %}
