{% extends "base.html" %}

{% block content %}
    <html lang="en">
		<head>
		    <meta charset='utf-8' />
		    <title>Sentiment Metric</title>
		    <link rel="stylesheet" type="text/css" href="/static/sentimentMetric.css">
		    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		</head>
		<body>
			<center><h3> Positive features </h3></center>
		    <div id="graphic1"></div>
		    <center><h3> Negative features </h3></center>
		    <div id="graphic2"></div>
		</body>
		<script src="/static/sentimentMetric.js" charset="utf-8"></script>
	</html>
{% endblock %}
